.note {
  position: absolute;

  width: 250px;
  height: 250px;

  color: rgba(0, 0, 0, 0.8);
  background-color: var(--note-tone0);

  &__body {
    --body-size: calc(100% - var(--gap) * 2);

    width: var(--body-size);
    height: var(--body-size);

    padding: var(--gap);

    overflow-wrap: break-word;
  }

  &--transparent {
    background-color: transparent;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
